<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ record_detail.title }}</title>
</head>
<body>
    <div>
        <font size="3" color="Black" face="TimesNewRoman">
            <p>
                <strong>Автор записи: </strong>: {{ record.user }}<br>
                <strong>Дата создания записи: </strong>: {{ record.date_creation }}
            </p>
       </font>
    </div>
    <div>
         <p>Описание: {{ record.description }}</p>
    </div>
    <div>
    {% for sd in imgs %}
        <img src="/media/{{sd.images}}">
    {% endfor %}<br>
    {% if request.user == record.user %}
        <form method="post">
            {% csrf_token %}
            <button type="submit">Удалить запись</button>
        </form>
    {% endif %}
    </div>
</body>
</html>